%h1= @author.pen_name

#author_profile  
  %img{"src" => "http://placekitten.com/150/150"}
	
  %p= @author.biography
  
  .clear



#author_publications
  %h2 Most Recent Books 
  - @author.publications.each do |p|
    -cycle(1, 2, 3, 4)
   
    .publication.grid_3
      %img{"src" => "http://placekitten.com/100/150"}
      %h3= p.title
      %p= p.description
      .clear
      .inline
        .right== #{p.comments.count} comments
  
    -if current_cycle.to_i % 4 == 0
      .clear	


	
	
