%h1 Sign Up

-form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  - if @user.errors.any?
    #errors
      %h3 There were some problems creating your account:
      
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form-element
    = f.label :email
    = f.email_field :email
    
    .explanation
      Your email address will only be used for site notifications and password recovery.  It will never be displayed publicly or sold.

  .form-element
    = f.label :password
    = f.password_field :password
    
    .explanation
      Passwords must be at least 6 characters long.

  .form-element
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  %input{"type" => "hidden", "name" => "user[is_author]", "id" => "user_is_author", "value" => "true"}

  .form-checkbox
    = check_box_tag 'tos', 'yes', false
    = label_tag 'tos', 'I have read and agree to the'
    %span
      %a{"href" => "/terms-of-service", "target" => "_blank"}
        Terms of Service
    

  = image_submit_tag "/images/buttons/create_account.png"