!!! html5
%html
  %head
    %title Skooah 
    = stylesheet_link_tag @stylesheets, :cache => true

  %body
    #container.container_12
      = render :partial => "layouts/header"

      #main 
        %p.notice= notice
        %p.alert= alert

        = yield
