!!! html5
%html
  %head
    = stylesheet_link_tag '960'
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'text'
    = stylesheet_link_tag 'global'
    %title Skooah 

    %body
      #container.container_12
        #header
          %a{"href" => "/"}
            %img{"src" => "/images/layout/logo.png"}
          
          %ul#user-options
            - if user_signed_in?
              %li
                Welcome  #{current_user.username} | 
              %li
                Manage Profile | 
              %li
                %a{"href" => "/users/sign_out"} 
                  Sign Out
            - else
              %li
                %a{"href" => "/users/sign_up"}
                  Register
              %li
                %a{"href" => "/users/sign_in"}
                  Login
          
        #main 
          %p.notice= notice
          %p.alert= alert
        
          = yield
