!!! html5
%html
  %head
    = stylesheet_link_tag '960','reset','text','global','forms'
    %title Skooah 

    %body
      #container.container_12
        = render :partial => "layouts/header"

        #main 
          %p.notice= notice
          %p.alert= alert
        
          = yield
